<body>

  <div class="flex flex-col items-center p-6 bg-gray-100 min-h-screen">

    <h1 class="text-3xl font-bold text-blue-800 mt-6 mb-14 shadow-md bg-white px-6 py-2 rounded-md">
      DOWNLOAD CERTIFICATE
    </h1>

    <div class="flex flex-col md:flex-row gap-6 justify-center items-center">

      <div class="bg-white shadow-lg rounded-lg p-4">
        <img src="images/certi.jpg" alt="Certificate" class="w-[650px] rounded-lg border" />
      </div>

      <!-- recip info -->
      <div class="bg-blue-100 shadow-md rounded-lg p-6 w-[300px] self-center">

        <h2 class="text-xl font-bold text-center text-blue-900 border-b-2 border-gray-300 pb-2 mb-4">
          RECIPIENTS INFORMATION
        </h2>

        <p class="text-lg text-blue-900 mb-1"><span class="font-semibold">Name:</span> Juan Dela Cruz</p>
        <p class="text-lg text-blue-900 mb-1"><span class="font-semibold">Position:</span> Full Stack Developer</p>
        <p class="text-lg text-blue-900 mb-1"><span class="font-semibold">Approved By:</span> Juan Del Rosario</p>
        <p class="text-lg text-blue-900 mb-1"><span class="font-semibold">Date Issued:</span> July 21, 2025</p>

        <!-- download butt -->
        <div class="flex justify-center mt-6">
          <button class="flex items-center gap-2 bg-green-500 hover:bg-green-600 text-white font-semibold px-4 py-2 rounded shadow">
            <i class="fa-solid fa-download"></i>
            Download
          </button>
        </div>

      </div>

    </div>

  </div>

</body>
