<div class="cert bg-gray-200 min-h-screen p-8">
  <h1 class="bg-blue-600 text-white font-bold text-6xl p-4 rounded-lg m-20 text-center shadow-lg shadow-gray-500/80">Interns Certificates</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6 justify-center">
    <div class="flex flex-col items-center">
      <img class="h-auto max-w-[80%] rounded-lg border-4 border-blue-600 shadow-lg shadow-gray-500/80 mb-4" src="images/Exemplary.png" alt="Certificate 5" >
      <button class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-800 hover:shadow-lg transition-shadow hover:shadow-gray-500/80" routerLink="/exemplary" routerLinkActive="active">
        Exemplary Certificate
      </button>
    </div>
    <div class="flex flex-col items-center">
      <img class="h-auto max-w-[80%] rounded-lg border-4 border-blue-600 shadow-lg shadow-gray-500/80 mb-4" src="images/Initiative.png" alt="Certificate 6" >
      <button class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-800 hover:shadow-lg transition-shadow hover:shadow-gray-500/80" routerLink="/initiative" routerLinkActive="active">
        Initiative Certificate
      </button>
    </div>
    <div class="flex flex-col items-center">
      <img class="h-auto max-w-[80%] rounded-lg border-4 border-blue-600 shadow-lg shadow-gray-500/80 mb-4" src="images/Leadership.png" alt="Certificate 6" >
      <button class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-800 hover:shadow-lg transition-shadow hover:shadow-gray-500/80" routerLink="/leadership" routerLinkActive="active">
        Leadership Certificate
      </button>
    </div>
     <div class="flex flex-col items-center">
      <img class="h-auto max-w-[80%] rounded-lg border-4 border-blue-600 shadow-lg shadow-gray-500/80 mb-4" src="images/Outstanding.png" alt="Certificate 6" >
      <button class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-800 hover:shadow-lg transition-shadow hover:shadow-gray-500/80" routerLink="/outstanding" routerLinkActive="active">
        Outstanding Certificate
      </button>
    </div>
    <div class="flex flex-col items-center">
      <img class="h-auto max-w-[80%] rounded-lg border-4 border-blue-600 shadow-lg shadow-gray-500/80 mb-4" src="images/Peer.png" alt="Certificate 6" >
      <button class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-800 hover:shadow-lg transition-shadow hover:shadow-gray-500/80" routerLink="/peer-award" routerLinkActive="active">
        Peerless Awardee Certificate
      </button>
    </div>
    <div class="flex flex-col items-center">
      <img class="h-auto max-w-[80%] rounded-lg border-4 border-blue-600 shadow-lg shadow-gray-500/80 mb-4" src="images/Vibes.png" alt="Certificate 6" >
      <button class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-800 hover:shadow-lg transition-shadow hover:shadow-gray-500/80" routerLink="/vibes-award" routerLinkActive="active">
        Positive Vibes Certificate
      </button>
    </div>
    <div class="flex flex-col items-center">
      <img class="h-auto max-w-[80%] rounded-lg border-4 border-blue-600 shadow-lg shadow-gray-500/80 mb-4" src="images/Punctuality.png" alt="Certificate 6" >
      <button class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-800 hover:shadow-lg transition-shadow hover:shadow-gray-500/80" routerLink="/punctuality" routerLinkActive="active">
        Punctuality Certificate
      </button>
    </div>
    <div class="flex flex-col items-center">
      <img class="h-auto max-w-[80%] rounded-lg border-4 border-blue-600 shadow-lg shadow-gray-500/80 mb-4" src="images/best-project.PNG" alt="Certificate 6" >
      <button class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-800 hover:shadow-lg transition-shadow hover:shadow-gray-500/80" routerLink="/best-projects" routerLinkActive="active">
        Best OJT Project
      </button>
    </div>
    <div class="flex flex-col items-center">
      <img class="h-auto max-w-[80%] rounded-lg border-4 border-blue-600 shadow-lg shadow-gray-500/80 mb-4" src="images/intern_coc.PNG" alt="Certificate 5" >
      <button class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-800 hover:shadow-lg transition-shadow hover:shadow-gray-500/80" routerLink="/intern-coc" routerLinkActive="active">
        Intern Certificate of Completion
      </button>
    </div>
  </div>
  <div class="return" style="margin-top: 5em;">
    <button class="mt-2 px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-800 hover:shadow-lg transition-shadow hover:shadow-gray-500/80" routerLink="/certificates" routerLinkActive="active">
        <i class="fa-solid fa-arrow-left"></i> Back
      </button>
  </div>
</div>