/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bg{
    background-image: url("../public/cert_bg.png");
    background-size: cover;
    background-position: center;
    position: relative;
    transition: background-position 0.1s ease-out;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
