<div class="account-container">
  <div class="profile-settings" style="margin-top:20px">

    <!-- User Profile Image -->
    <img *ngIf="imageUrl" [src]="imageUrl" alt="User Image"
      style="width: 20%; height: 20%; object-fit: cover; margin-bottom:-60px; border-radius: 50%; border: 5px solid rgb(88, 88, 88);">

    <div class="profile-picture">
      <div style="margin-top: 20px; margin-left: 130px;">
        <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden #fileInput />
        <button class="ImportB" type="button" (click)="fileInput.click()">Change Image</button>
      </div>
    </div>

    <!-- Display Mode -->
    <ng-container *ngIf="!editMode; else editTemplate">
      <div class="section" style="margin-top:40px">
        <label>Username</label>
        <p>{{ profileForm.get('username')?.value }}</p>
      </div>

      <div class="section">
        <label>Contact Email</label>
        <p>{{ profileForm.get('email')?.value }}</p>
      </div>

      <div class="section">
        <label>Role</label>
        <p>{{ profileForm.get('role')?.value }}</p>
      </div>

      <div class="section" style="margin-top:60px">
        <button type="button" class="save" (click)="toggleEdit()" style="margin-right: 10px;">
          Edit Profile
        </button>
        <button type="button" class="danger" (click)="deleteAccount()">Delete my account</button>
      </div>
  
      <div class="section" >
        <div class="row">       
          <button type="button" class="LogoutB" (click)="logout()">Log out</button>
        </div>
      </div>

      
    </ng-container>

    <!-- Edit Mode -->
    <ng-template #editTemplate>
      <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" style="margin-top:20px">
        <div class="section">
          <label>Username</label>
          <input type="text" formControlName="username" />
        </div>

        <div class="section">
          <label>Contact Email</label>
          <input type="email" formControlName="email" />
        </div>

        <div class="section">
          <label>New Password</label>
          <input type="password" formControlName="newPassword" placeholder="Enter new password" />
        </div>

        <div class="section" style="margin-top:60px">
          <button type="submit" class="save" [disabled]="profileForm.invalid">Save Changes</button>
          <button type="button" class="danger" (click)="cancelEdit()">Cancel</button>
        </div>
      </form>
    </ng-template>

  </div>
</div>
