<div class="editor-preview-container">
  <div class="form-panel">
    <h2>Certificate Details</h2>
    <form [formGroup]="certificateForm" (ngSubmit)="requestApproval()">
      <div class="form-group">
      <label>Certificate Type*</label>
      <input type="text" formControlName="certificateType">
      <div *ngIf="f['certificateType'].invalid && f['certificateType'].touched" class="error">
      Certificate Type is required (max 50 characters)
      </div>
      </div>

      <div class="form-group">
        <label>Recipient Name*</label>
        <input type="text" formControlName="recipientName">
        <div *ngIf="f['recipientName'].invalid && f['recipientName'].touched" class="error">
          Name is required (max 50 characters)
        </div>
      </div>

      <div class="form-group">
        <label>Type of Award*</label>
        <input type="text" formControlName="typeOfAward" placeholder="Enter the award type here..." class="text-input" />
        <div *ngIf="f['typeOfAward'].invalid && f['typeOfAward'].touched" class="error">
          Type of Award is required (max 50 characters)
        </div>
      </div>

      <div class="text-color-picker">
        <label for="colorPicker">Choose Text Color:</label>
        <input type="color" id="colorPicker" (input)="changeTextColor($event)" [value]="textColor" style="margin-left: 20px;"/>
      </div>

       <div class="text-color-picker" >
          <label for="colorPicker">Choose Box Color:</label>
           <input type="color" id="colorPicker" value="#ffffff" (input)="changeBoxColor($event)" style="margin-left: 20px;">
        </div>

      <div class="form-group">
        <label>Date of Issue*</label>
        <input type="date" formControlName="issueDate">
        <div *ngIf="f['issueDate'].invalid && f['issueDate'].touched" class="error">
          Date of issue is required.
        </div>
      </div>
      
      <div class="form-group">
        <label>Certificate Description*</label>
        <textarea formControlName="description" placeholder="Type the certificate description here..." cols="50" rows="4"></textarea>
      </div>

      <div class="form-group">
        <label>Number of Signatories*</label>
        <select formControlName="numberOfSignatories" (change)="onSignatoryCountChange()">
          <option value="1">1 Signatory</option>
          <option value="2">2 Signatories</option>
        </select>
      </div>

      <div class="form-group">
        <label>Signatory 1 Name*</label>
        <input type="text" formControlName="signatory1Name">
        <div *ngIf="f['signatory1Name'].invalid && f['signatory1Name'].touched" class="error">
          Signatory name is required.
        </div>
      </div>

      <div class="form-group">
        <label>Signatory 1 Role*</label>
        <input type="text" formControlName="signatory1Role">
        <div *ngIf="f['signatory1Role'].invalid && f['signatory1Role'].touched" class="error">
          Signatory role is required.
        </div>
      </div>

      <div class="form-group" *ngIf="certificateForm.value.numberOfSignatories === '2'">
        <label>Signatory 2 Name*</label>
        <input type="text" formControlName="signatory2Name">
        <div *ngIf="f['signatory2Name'].invalid && f['signatory2Name'].touched" class="error">
          Signatory name is required.
        </div>
      </div>

      <div class="form-group" *ngIf="certificateForm.value.numberOfSignatories === '2'">
        <label>Signatory 2 Role*</label>
        <input type="text" formControlName="signatory2Role">
        <div *ngIf="f['signatory2Role'].invalid && f['signatory2Role'].touched" class="error">
          Signatory role is required.
        </div>
      </div>
      <div class="button-group">
        <button type="button" (click)="goBack()" class="btn secondary">Back</button>
        <button type="button" class="btn btn-req" (click)="openModal()">Request Approval</button>
      </div>

      <div style="margin-top: 20px; margin-left: 130px;">
        <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden #fileInput />
        <button type="button" (click)="fileInput.click()" style="border-radius: 2px; padding-top: 10px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; background-color: rgb(103, 3, 161); border-radius: 5px; color: white; text-align: center;">Import Image</button>

        <div *ngIf="imageUrl" class="preview">
        </div>
      </div>
    </form>
  </div>

  <!-------------------------------------------------------------------------------- Modal ----------------------------------------------------------------------------------------------------->
  <div class="custom-modal-backdrop" *ngIf="isModalOpen">
    <div class="custom-modal">
      <button class="close-button" (click)="closeModal()">×</button>
      <h2>REQUEST APPROVAL</h2>
      <form #requestForm="ngForm" (ngSubmit)="submitForm(requestForm)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" ngModel required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" ngModel required>
        </div>
        <div class="modal-actions">
          <button type="button" class="btn-cancel" (click)="closeModal()">Cancel</button>
          <button type="submit" [disabled]="requestForm.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>

  <!--------------------------------------------------------------------------------------- Right Panel - Certificate Preview ------------------------------------------------------------------------------------->
  <div class="preview-panel">
    <div class="certificate" [ngStyle]="{'background-image': imageUrl ? 'url(' + imageUrl + ')' : 'none'}" style="width: 8.5in; height: 11in;">
      <div class="certificate-content">
        <div class="cert-img">
          <img src="/its_logo.png" class="cert-logo" style="width: 120px;">
        </div>
        <h1 style="text-transform: uppercase;">CERTIFICATE OF {{ certificateForm.value.certificateType }}</h1>

        <p style="margin-top: -135px ; text-transform: capitalize;">This certificate of {{ certificateForm.value.certificateType }} is awarded to</p>
        <h2>{{ certificateForm.value.recipientName || 'Recipient Name' }}</h2>

        <div class="color-box" id="colorBox" [style.background]="boxColor"> 
       <div style="text-transform: uppercase; " [style.color]="textColor"> {{ certificateForm.value.typeOfAward || 'type of award' }}
        </div>
          </div>

         <div class="certificate-text">
          <p>{{ certificateForm.value.description }}</p>
        </div>

        <p class="issuance" style="margin-top: -90px;">
          Given on this day of <span class="iss-date">{{ (certificateForm.value.issueDate | date:'longDate') || 'December 7, ' + importYear }}</span>
          at <span class="iss-date">IT Squarehub Global Services Corporation, Angeles City, Pampanga.</span>
        </p>

         <div class="signatures" [class.center-signature]="certificateForm.value.numberOfSignatories === '1'">
          <div>
            <div class="signature-line"></div>
            <p class="sig-names">{{ certificateForm.value.signatory1Name || 'Signatory 1 Name' }}</p>
            <p class="sig-roles">{{ certificateForm.value.signatory1Role || 'Chief Executive Officer' }}</p>
          </div>
          
          <div *ngIf="certificateForm.value.numberOfSignatories === '2'">
            <div class="signature-line"></div>
            <p class="sig-names">{{ certificateForm.value.signatory2Name || 'Signatory 2 Name' }}</p>
            <p class="sig-roles">{{ certificateForm.value.signatory2Role || 'Chief Finance & Operating Officer' }}</p>
          </div>
        </div>
      </div>
    </div>

    <button (click)="openCertificatePreview()" class="btn print-btn bg-blue-200">
      Preview Certificate
    </button>

    <!-- -------------------------------------------------------------------------------------- Popup Preview -------------------------------------------------------------------------------->
    <div *ngIf="showCertificatePreview" class="popup-overlay">
      <div class="popup-content">
        <div class="certificate" [ngStyle]="{'background-image': imageUrl ? 'url(' + imageUrl + ')' : 'none'}" style="width: 8.5in; height: 11in;">
          <div class="certificate-content">
            <div class="cert-img">
              <img src="/its_logo.png" class="cert-logo" style="width: 120px;">
            </div>
            <h1>CERTIFICATE OF APPRECIATION</h1>
            <p style="margin-top: -155px; margin-bottom: -50px;">This certificate of appreciation is awarded to</p>
            <h2>{{ certificateForm.value.recipientName || 'Recipient Name' }}</h2>
            
              <div class="color-box" id="colorBox" [style.background]="boxColor"> 
              <div style="text-transform: uppercase;" [style.color]="textColor"> {{ certificateForm.value.typeOfAward }}
              </div>
              </div>


            <div class="certificate-text">
             <span class="desc">{{ certificateForm.value.description }}</span>
            </div>

            <p class="issuance" style="margin-top: -90px;">
              Given on this day of <span class="iss-date">{{ (certificateForm.value.issueDate | date:'longDate') || 'December 7, ' + importYear }}</span>
              at <span class="iss-date">IT Squarehub Global Services Corporation, Angeles City, Pampanga.</span>
            </p>

          <div class="signatures" [class.center-signature]="certificateForm.value.numberOfSignatories === '1'">
          <div>
            <div class="signature-line"></div>
            <p class="sig-names">{{ certificateForm.value.signatory1Name || 'Signatory 1 Name' }}</p>
            <p class="sig-roles">{{ certificateForm.value.signatory1Role || 'Chief Executive Officer' }}</p>
          </div>
          
          <div *ngIf="certificateForm.value.numberOfSignatories === '2'">
            <div class="signature-line"></div>
            <p class="sig-names">{{ certificateForm.value.signatory2Name || 'Signatory 2 Name' }}</p>
            <p class="sig-roles">{{ certificateForm.value.signatory2Role || 'Chief Finance & Operating Officer' }}</p>
          </div>
        </div>
      </div>
        </div>
        <button (click)="closeCertificatePreview()" class="btn close-btn">Close</button>
      </div>
    </div>
  </div>
</div>