<body class="bg-gray-200 min-h-screen p-8 font-sans">

  <div class="mb-12 mt-4">
    <h2 class="text-3xl font-bold text-blue-800 flex items-center gap-2 mb-8">
      <i class="fa-solid fa-certificate"></i>
      CERTIFICATES
    </h2>

    <!-- Types of Certificates -->
    <div class="flex gap-4 mt-4 justify-center">
      <a href="#" class="block w-64">
        <div class="bg-white border rounded-lg shadow-md p-4 flex flex-col items-center hover:shadow-lg   transition cursor-pointer">
          <img src="images/Employee.png" alt="icon" class="h-24 mb-4">
          <p class="font-semibold text-center">Employee of the year</p>
        </div>
      </a>

      <a href="#" class="block w-64">
        <div class="bg-white border rounded-lg shadow-md p-4 flex flex-col items-center hover:shadow-lg   transition cursor-pointer">
          <img src="images/Attendance.png" alt="icon" class="h-24 mb-4">
          <p class="font-semibold text-center">Perfect Attendance Award</p>
        </div>
      </a>

      <a href="#" class="block w-64">
        <div class="bg-white border rounded-lg shadow-md p-4 flex flex-col items-center hover:shadow-lg   transition cursor-pointer">
          <img src="images/Leadership.png" alt="icon" class="h-24 mb-4">
          <p class="font-semibold text-center">Leadership Award</p>
        </div>
      </a>

      <a href="#" class="block w-64">
        <div class="bg-white border rounded-lg shadow-md p-4 flex flex-col items-center hover:shadow-lg   transition cursor-pointer">
          <img src="images/Initiative.png" alt="icon" class="h-24 mb-4">
          <p class="font-semibold text-center">Initiative Award</p>
        </div>
      </a>

      <a href="#" class="block w-64">
        <div class="bg-white border rounded-lg shadow-md p-4 flex flex-col items-center hover:shadow-lg   transition cursor-pointer">
          <img src="images/Peer.png" alt="icon" class="h-24 mb-4">
          <p class="font-semibold text-center">Peerless Award</p>
        </div>
      </a>
    </div>

    <div class="flex justify-end">
      <a>
        <img src="images/more.png" alt="icon" class="h-6 mt-4 cursor-pointer"  routerLink="/certificates" routerLinkActive="active">
      </a>
    </div>

  </div>

  <!-- Pending Table -->
  <div class="mb-8">
    <h3 class="text-3xl font-bold text-blue-800 flex items-center gap-2 mb-8">
      <i class="fa-solid fa-hourglass-half"></i>
      PENDING FOR APPROVAL
    </h3>

    <table class="table-fixed w-full bg-blue-100 rounded-md overflow-hidden">
      <thead class="bg-blue-300 text-white">
        <tr>
          <th class="text-left p-2 text-xl">NAME</th>
          <th class="text-left p-2 text-xl">CERTIFICATE</th>
          <th class="text-left p-2 text-xl">REFERENCE NO.</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-blue-200">
          <td class="p-2">Syantik Syantik</td>
          <td class="p-2">Certificate of Recognition</td>
          <td class="p-2">123456789</td>
        </tr>
        <tr>
          <td class="p-2">Henry B</td>
          <td class="p-2">Certificate of Appreciation</td>
          <td class="p-2">123456789</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="flex justify-end">
    <a href="#">
      <img src="images/more.png" alt="icon" class="h-6 mt-4">
    </a>
  </div>

  <!-- Approved Table -->
  <div>
    <h3 class="text-3xl font-bold text-blue-800 flex items-center gap-2 mb-8">
      <i class="fa-solid fa-square-check"></i>
      APPROVED CERTIFICATES
    </h3>

    <table class="table-fixed w-full bg-blue-100 rounded-md overflow-hidden">
      <thead class="bg-blue-300 text-white">
        <tr>
          <th class="text-left p-2 text-xl">NAME</th>
          <th class="text-left p-2 text-xl">CERTIFICATE</th>
          <th class="text-left p-2"></th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-blue-200">
          <td class="p-2">Henry C</td>
          <td class="p-2">Certificate of Internship</td>
          <td class="p-2 pl-24">
            <a href="#" class="text-blue-600 hover:underline">
              <img src="images/download.png" alt="icon" class="h-6">
            </a>
          </td>
        </tr>
        <tr>
          <td class="p-2">Henry D</td>
          <td class="p-2">Employee of the Month</td>
          <td class="p-2 pl-24">
            <a href="#" class="text-blue-600 hover:underline">
              <img src="images/download.png" alt="icon" class="h-6">
            </a>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="flex justify-end">
      <a href="#">
        <img src="images/more.png" alt="icon" class="h-6 mt-4">
      </a>
    </div>

  </div>
</body>